.bg-custom {
  background-image: url("../../public/logoRegister.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /* options: contain, auto */
  background-position: center; /* options: top, right, bottom, left */
}
